<ion-header>
  <ion-toolbar>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Recuperar Contraseña</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Campo de Correo -->
      <ion-item>
        
        <ion-input type="email" placeholder="Ingrese su correo"></ion-input>
      </ion-item>

      <!-- Botón Enviar -->
      <ion-button expand="block" color="primary" routerLink="/login">
        Enviar Solicitud
      </ion-button>

      <!-- Botón Regresar al Login -->
      <ion-button expand="block" fill="outline" color="secondary" routerLink="/login">
        Regresar al Login
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
